@model TC.DVDCentral.Models.ShoppingCart

<h3>Shopping Cart</h3>
<hr/>
<div style="margin:15px 0px 15px 15px">
    @Model.Count Item(s)
</div>
<div style="margin: 0px 0px 15px 15px">
    @Html.ActionLink("View Cart", "Index")
</div>

