@model IEnumerable<TC.DVDCentral.Models.Genre>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<<ul class="list-group">
    @foreach (var item in Model)
    {
        <li class="list-group-item">
            @Html.ActionLink(item.Description, "GetAllByGenreId", "Movies", new { id = item.Id }, null)
        </li>
    }
    <li class="list-group-item">
        @Html.ActionLink("View All", "Index", "Movies", null, null)
    </li>
</ul>
